@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animateScroll {
  animation: scroll 70s linear infinite;
  width: max-content;
}

.overflowContainer {
  max-width: 100%;
  overflow: hidden;
}

.overflowContainer::-webkit-scrollbar {
  display: none;
}

.overflowContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
